
<div class='container'>
    <div class="card mx-auto col-md-5 col-8 mt-3 p-0">
        <img class='mx-auto pic'
            src="https://i.imgur.com/kXUgBQZ.jpg"/>
        <div class="card-title d-flex px-4">
            <p class="item text-muted">Barcelona<label class="register">&reg;</label> Chair</p>
            <p><b class="pl-md-4">SUBTOTAL:<span class="pl-md-4">${{totalPrice}}</span></b></p>
        </div>
        <div class="card-body">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            
         
        </div>
        <div class="footer text-center p-0">
            
        </div>
    </div>

</div>
