
<!-- <section>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Name :{{user.name}}</h5>
          <p class="card-text">Tuoi :{{user.age}}</p>
          <p class="card-text">Address :{{user.address}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</section>
 -->
 <div class="">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2016/05/27/08/51/mobile-phone-1419275_1280.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2016/09/01/19/53/pocket-watch-1637396_1280.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2020/04/19/21/18/prairie-5065663_1280.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 </div>



 <section id="home-section">
<div class="container">
  <div class="row" *ngIf="products && products.length;else elseBlock">
    <div class="col-4" *ngFor="let product of products">
      <div class="card"  style="width: 18rem;">
        <div class="card-body">
          <img src="{{product.imgUrl}}" class="card-img-top" alt="...">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Giá :{{product.price}}</p>
          <a href="#" class="btn btn-primary">Send mail</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>Không tìm thấy sản phẩm!</ng-template>
</div>
</section>
