/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  ol,
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .form {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 30px;
  }
  